*{
   margin: 15px;
   padding: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    grid-gap: 10px;
    background-color: #eee;
 
 }
 
 .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 32px #362d2d;
 
    padding: 5px;
 
 
 }
 
 .gallery__item--1 {
 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
 }
 
 .gallery__item--2 {
 
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
 }
 
 .gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
 }
 
 .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
 }
 
 .gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
 }
 
 .gallery__item--6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
 }
 
 .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
 }
 
 .gallery__item--8 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
 }
 
 .gallery__item--9 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
 }
 
 .zoom img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
 }
 
 .zoom :hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
 }
 
 .videoEmbed {
    display: flex;
    padding: auto;
    margin-top: 100px;
    margin-left: 100px;
    height: 75%;
    width: 75%;
    border-radius: 30px;
    background-color: #eee;
 }
 
 .videoOfHorses1 {
    margin-right: 20px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 32px #eee;
    background-color: #eee;
 
 }
 
 .videoOfHorses2 {
    margin-right: 15px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 32px #eee;
    background-color: #eee;
 }
 .aboutUs {
    font-size: larger;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
 }
 
 .wrapper {
    min-height: 100vh;
    width: 100%;
    
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
 }
 
 .testimonial {
    padding: 30px 100px;
 }
 
 article h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
 }
 
 article h1:after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: white;
    display: block;
    margin: auto;
    letter-spacing: 1.5px;
 }
 
 article img {
    height: 225px;
    width: 225px;
    border: 2px solide white;
    border-radius: 50%;
    margin-top: 60px;
 }
 
 blockquote {
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 30px;
 
 
 }
 
 article h5 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: 1.5px;
 }
 
 article p {
    font-size: 17px;
 }
 
 @media only screen and (max-width: 600px) {
 
    .videoEmbed {
       display: block;
       padding: auto;
       margin-left: 110px;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
       border-radius: 30px;
       background-color: #eee;
    }
 
 
 
    .videoOfHorses1 {
       margin: auto;
       border-radius: 30px;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
       background-color: #eee;
 
    }
 
    .videoOfHorses2 {
       border-radius: 30px;
       margin: auto;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
       background-color: #eee;
    }
 
    .gallery {
 
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(10, 200px);
 
 
    }
 
 
    .gallery__item--1 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 2;
       width: 60%;
 
 
    }
 
    .gallery__item--2 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 2;
       grid-row-end: 3;
       width: 60%;
    }
 
    .gallery__item--3 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 3;
       grid-row-end: 4;
       width: 60%;
    }
 
    .gallery__item--4 {
       grid-column-start: 2;
       grid-column-end: 2;
       grid-row-start: 4;
       grid-row-end: 5;
       width: 60%;
    }
 
    .gallery__item--5 {
       grid-column-start: 3;
       grid-column-end: 2;
       grid-row-start: 5;
       grid-row-end: 6;
       width: 60%;
    }
 
    .gallery__item--6 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 6;
       grid-row-end: 7;
       width: 60%;
    }
 
    .gallery__item--7 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 7;
       grid-row-end: 8;
       width: 60%;
    }
 
    .gallery__item--8 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 8;
       grid-row-end: 9;
       width: 60%;
    }
 
    .gallery__item--9 {
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start: 9;
       grid-row-end: 10;
       width: 60%;
    }
 
 
 }
 
 @media only screen and (min-width:600px) and (max-width: 900px) {
 
    .videoEmbed {
       display: flex;
       padding: auto;
       margin-left: 40px;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
       border-radius: 30px;
       margin-top: 150px;
    }
 
 
 
    .videoOfHorses1 {
       margin-right: 100px;
       border-radius: 30px;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
 
 
    }
 
    .videoOfHorses2 {
       border-radius: 30px;
       height: 75%;
       width: 75%;
       box-shadow: 0 0 32px #eee;
    }
 
 
    .gallery {
 
       display: grid;
       grid-template-columns: repeat(6, 1fr);
       grid-template-rows: repeat(11, 200px);
 
 
    }
 
    .gallery__item--1 {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 1;
       grid-row-end: 3;
       width: 100%;
       height: 100%;
 
 
    }
 
    .gallery__item--2 {
       grid-column-start: 4;
       grid-column-end: 6;
       grid-row-start: 1;
       grid-row-end: 3;
       width: 100%;
       height: 100%;
    }
 
    .gallery__item--3 {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 4;
       grid-row-end: 6;
       width: 100%;
       height: 75%;
    }
 
    .gallery__item--4 {
       grid-column-start: 4;
       grid-column-end: 6;
       grid-row-start: 4;
       grid-row-end: 6;
       width: 100%;
       height: 100%;
    }
 
    .gallery__item--5 {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 7;
       grid-row-end: 9;
       width: 120%;
       height: 100%;
    }
 
    .gallery__item--6 {
       grid-column-start: 4;
       grid-column-end: 6;
       grid-row-start: 7;
       grid-row-end: 9;
       width: 120%;
    }
 
    .gallery__item--7 {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 10;
       grid-row-end: 12;
       width: 140%;
 
    }
 
    .gallery__item--8 {
       grid-column-start: 4;
       grid-column-end: 6;
       grid-row-start: 10;
       grid-row-end: 12;
       width: 120%;
 
    }
 
    .gallery__item--9 {
       grid-column-start: 1;
       grid-column-end: 3;
       grid-row-start: 13;
       grid-row-end: 15;
       width: 120%;
       height: 120%;
    }
 
 }
 
 