html{
   font-size: 20px;
}
body {
   width: 100%;
   margin: auto;
   font-size: 1em;
   height: auto;
   background-color: rgb(251, 235, 210);
   display: flex;

   

   flex-direction: column;
 }
 .navbar{
   position: sticky;
   display: flex;
   flex-wrap: wrap;
   width: 100%;

 }
 
.navbar_items{
   background-color: rgb(230, 153, 94);
   color: rgb(137, 71, 34);
   text-decoration-thickness: 5px;
   padding: 15px;
   flex-grow: 1;
   text-decoration: none;
   text-align: center;
}
.navbar_items:hover{
   background-color: rgb(202, 109, 59);
  
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo_image{
   border-radius: 50%;
   width: 60%;
   max-width: 500px;
   opacity: 0.5;
   display: block;
   margin:  auto;

}

 .banner {
   color:rgb(137, 71, 34);
   font-size: 1.5em;
   text-align: center;
   margin: auto;
   line-height: 2em;
   
   
 
   border-radius: 50%;
   width: 60%;
   max-width: 500px;
   
   
 }
 
 .logo {
   height: 80px;
   width: 80px;
   background-image: url("");
   background-size: contain;
   background-repeat: no-repeat;
   display: inline-block;
   position: relative;
   top: 1em;
 }

 banner h1 {
   display: inline-block;
 }
  


 /*GRID KEREN*/
 .row {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
 }
 
 /* Create equal columns that sits next to each other */
 .column {
   flex: 33,333%;
   max-width: 30%;
   vertical-align:middle;
 
  
 }
 
 .column img {
   margin-top: 1px;
   vertical-align: middle;
   width:100%;

  
   
 }


 /*IPAD
 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 800px) {
   .column {
     flex: 66,6%;
     max-width:40%;
     vertical-align:middle;

   }
   .column img #photo5,.column img #photo5 {
      
 }
 /*PHONE
 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .column {
     flex: 100%;
     max-width: 100%;
     vertical-align:middle;
   }
 }
 