html{
   font-size: 20px;
}
body {
   width: 100%;
   margin: auto;
   font-size: 1em;
   height: auto;
   background-color:rgb(251, 235, 210);
   display: flex;

   

   flex-direction: column;
 }
 .navbar{
   position: sticky;
   display: flex;
   flex-wrap: wrap;
   width: 100%;

 }
 
.navbar_items{
   background-color: rgb(230, 153, 94);
   color: rgb(137, 71, 34);
   text-decoration-thickness: 5px;
   padding: 15px;
   flex-grow: 1;
   text-decoration: none;
   text-align: center;
}
.navbar_items:hover{
   background-color: rgb(202, 109, 59);
  
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo_image{
   border-radius: 50%;
   width: 60%;
   max-width: 500px;
   opacity: 0.5;
   display: block;
   margin:  auto;

}

 .banner {
   color:rgb(137, 71, 34);
   font-size: 1.5em;
   text-align: center;
   margin: auto;
   line-height: 2em;
   
   
 
   border-radius: 50%;
   width: 60%;
   max-width: 500px;
   
   
 }
 
 .logo {
   height: 80px;
   width: 80px;
   background-image: url("");
   background-size: contain;
   background-repeat: no-repeat;
   display: inline-block;
   position: relative;
   top: 1em;
 }

 banner h1 {
   display: inline-block;
 }
  

/*Keren*/
.gallery {
   background-color: white;
   display: grid;
   height: 98vh;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas: "photo1 photo2 photo3"
   "photo4 photo5 photo6"
   "photo7 photo8 photo9 photo10";
  
}
img{
   
   max-width: 50%;

}

.photo1{
background-color: aliceblue;
grid-area:photo1;
}

.photo2{
   background-color:violet;
   grid-area:photo2;
}

.photo3{
   background-color:aqua;
   grid-area:photo3;
}
.photo4{
   background-color:blueviolet;
   grid-area:photo4;
}
.photo5{
   background-color:grey;
   grid-area:photo5;
}
.photo6{
   background-color:red;
   grid-area:photo6;
}
.photo7{
   background-color:yellow;
   grid-area:photo7;
   
}
.photo8{
   background-color:orange;
   grid-area:photo8;
}
.photo9{
   background-color:green;
   grid-area:photo9;
}
.photo10{
   background-color:black;
   grid-area:photo10;
}

.
 @media only screen and (max-width: 600px) {
   .gallery {
     display: grid;
     grid-template-columns:repeat(1, 1fr);
     grid-template-rows: repeat(6, 200px);
     grid-template-rows:1;
     grid-gap: 15px;
     border: solid black;
     padding: 5px;
     margin: 20px,20px,20px,20px;
 }
 

 @media only screen and  (min-width:600px) and (max-width: 900px) {
   
  .gallery {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 5vw);
   grid-gap: 15px;
   border: solid black;
   padding: 5px;
   margin: 20px,20px,20px,20px;
}


 } 