html,
body {
   display: block;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
}


* {
   font-size: 1em;
   font-family: 'Rubik', sans-serif;
   color: #362d2d;
}

.flex {
   display: flex;

}

.column {
   display: flex;
   flex-direction: column;
}

.justify-content-center {
   justify-content: center;
}

.justify-content-around {
   justify-content: space-around;
}

.justify-content-between {
   justify-content: space-between;
}

.align-items-center {
   align-items: center;
}

.align-self-center {
   align-self: center;
}

.justify-self-center {
   justify-self: center;
}

.center {
   margin: auto;
}

#logo_img {
   width: 70px;
   position: absolute;
   left: 30px;
   top: 0;


}

.navbar_items {
   text-decoration: none;
   color: #362d2d;
   padding: 10px;

}

.navbar {
   z-index: 999;
}

.submit-button:hover,
.navbar_items:hover {
   background-color: antiquewhite;
   color: #623218;
}

.flex-grow-1 {
   flex-grow: 1;
}

.box-shadow {
   box-shadow: 0px 0px 54px 0px #000000;
}

.opacity {
   opacity: 0.6;
}

.fixed {
   position: fixed;
}

.sticky {
   position: sticky;
}

.contactus li {
   list-style: none;
}

.contactus ul {
   padding: 60px;
}

.contactus label {
   cursor: pointer;
}

.border-radius-5 {
   border-radius: 5px;
}

.padding-20 {
   padding: 20px;
}

.raw {
   display: flex;
   flex-direction: row;
}


input[type=text],
input[type=email],
input[list=city],
datalist,
textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}


input[type=submit] {
   background-color: #fff9efad;
   padding: 12px 20px;
   border: solid #362d2d;
   border-radius: 4px;
   cursor: pointer;

}

main .card-img-top {
   box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
   border-radius: 20px;

}

.img-card {}

.gallery {
   display: grid;
   grid-template-columns: repeat(9, auto);
   grid-template-rows: repeat(9, auto);
   grid-gap: 10px;
   background-color: #eee;

}

.gallery__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
   box-shadow: 0 0 32px #333;

   padding: 5px;


}

.gallery__item--1 {

   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
}

.gallery__item--2 {

   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 3;
}

.gallery__item--3 {
   grid-column-start: 6;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 3;
}

.gallery__item--4 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 6;
}

.gallery__item--5 {
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 6;
}

.gallery__item--6 {
   grid-column-start: 6;
   grid-column-end: 9;
   grid-row-start: 3;
   grid-row-end: 6;
}

.gallery__item--7 {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 6;
   grid-row-end: 9;
}

.gallery__item--8 {
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 6;
   grid-row-end: 9;
}

.gallery__item--9 {
   grid-column-start: 6;
   grid-column-end: 9;
   grid-row-start: 6;
   grid-row-end: 9;
}

.zoom img {
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.zoom :hover img {
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
   .gallery {

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(10, 200px);


   }

   .gallery__img {}

   .gallery__item--1 {
      grid-column-start:2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      width: 60%;


   }

   .gallery__item--2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      width: 60%;
   }

   .gallery__item--3 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 60%;
   }

   .gallery__item--4 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
      width: 60%;
   }

   .gallery__item--5 {
      grid-column-start: 3;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
      width: 60%;
   }

   .gallery__item--6 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
      width: 60%;
   }

   .gallery__item--7 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
      width: 60%;
   }

   .gallery__item--8 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 8;
      grid-row-end: 9;
      width: 60%;
   }

   .gallery__item--9 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 9;
      grid-row-end: 10;
      width: 60%;
   }


}

@media only screen and (min-width:600px) and (max-width: 900px) {
   .gallery {

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(11, 200px);


   }

   .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 100%;
      height: 100%;


   }

   .gallery__item--2 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 100%;
      height: 100%;
   }

   .gallery__item--3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 6;
      width: 100%;
      height: 75%;
   }

   .gallery__item--4 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 6;
      width: 100%;
      height: 100%;
   }

      .gallery__item--5 {
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 7;
         grid-row-end: 9;
         width: 120%;
         height: 100%;
      }

      .gallery__item--6 {
         grid-column-start: 4;
         grid-column-end: 6;
         grid-row-start:7;
         grid-row-end: 9;
         width: 120%;
      }

      .gallery__item--7 {
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 10;
         grid-row-end: 12;
         width: 140%;
         
      }

      .gallery__item--8 {
         grid-column-start: 4;
         grid-column-end: 6;
         grid-row-start: 10;
         grid-row-end: 12;
         width: 120%;
         
      }

      .gallery__item--9 {
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 13;
         grid-row-end: 15;
         width: 120%;
         height: 120%;
      }


   }